*.hi
*.hl
*.o
*~
/.ditz-config
/ChangeLog
/Makefile
/Makefile.cabalinst
/Makefile.in
/Setup.hs
/ac-macros/config.guess
/ac-macros/config.sub
/ac-macros/install-sh
/ac-macros/missing
/aclocal.m4
/ajhc.1
/ajhc.cabal
/ajhc.spec
/autom4te.cache
/config.guess
/config.log
/config.status
/config.sub
/configure
/dist
/docs/building.mkd
/drift_processed
/jhc
/jhc.spec
/regress/results
/src/Support/Cabal.hs
/src/Version/Config.hs
/src/cbits/config.h
/src/data/shortchange.txt
/src/data/targets.ini
/src/hs_src_config.h
/tmp
